
.wrapper{
    margin: 0 auto;
    width: 1140px;
}





.button{
    background-color: #F7AB42;
    width: 200px;
    height: 50px;
    border-radius: 3px;
    border-color: #F7AB42;
    color: white;
}