


.contact{
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__items > p{
       display: inline; 
    }
     &__items > p + *{
      margin-left: 90px;
    }
}

.nav-bar{
    background-color: #EEF1F5;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    
    &__items{
        position: relative;
    }

    &__items>*{
        display: inline;
    }

    &__items div{
        float: right;
        display: flex;
        flex-direction: row;
        & p{
            margin-left: 10px;
        }
    }

    &__items>li + li{
        margin-left: 56px;
    }

    
}